body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #111;
  background:rgb(219, 219, 219);
}

.material-symbols-outlined{
    color: #000000;
    background-color: rgb(255, 255, 255);
    border: none;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #000000;
}

.site-header .topbar {
  display:flex;
  justify-content:right;
  align-items:center;
  padding:8px 28px;
  font-size:14px;
  color:#444;
  background:#fff;
}

.topbar-right a { color:#444; text-decoration:none; margin-left:6px; }
.topbar-right .sep { margin:0 8px; color:#ccc; }


.navbar {
  display:grid;
  grid-template-columns: 1fr auto 1fr;
  align-items:center;
  padding:20px 28px;
  border-bottom:1px solid rgba(0,0,0,0.06);
  background: #fff;
}

.brand {
  font-family: "Merriweather", serif;
  font-size:32px;
  color:#111;
  text-decoration:none;
}

.catalog {
  list-style:none;
  margin:0;
  padding:0;
  display:flex;
  gap:48px;
  justify-self:center;
}

.catalog a {
  color:#111;
  text-decoration:none;
  font-size:18px;
  padding:8px 4px;
}
.catalog a:hover { color:#555; }

.nav-action {
  display:flex;
  align-items:center;
  gap:12px;
  margin-left: 500px;
}

.search {
  display:flex;
  align-items:center;
  gap:6px;
  border:1px solid #e6e6e6;
  border-radius:22px;
  padding:6px 8px;
  background:#fff;
}
.search input {
  display: block;   /* înlocuiește orice display:none */
  width: 180px;
  border: 0;
  outline: none;
  background: transparent;
  font-size: 14px;
}
.search-btn {
  border:0;
  background:transparent;
  padding:4px;
  cursor:pointer;
  color:#666;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', sans-serif !important;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 20px;
  line-height: 1;
  display: inline-block;
}
.icon-btn {
  border:0;
  background:transparent;
  padding:6px;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  color:#111;
}
.icon-btn .material-symbols-outlined { font-size:27px; }

.icon-btn:hover,
.search-btn:hover { color:#000; }

@media (max-width:640px) {
  .search input { display:none; width:0; }
  .search { padding:6px; border-radius:20px; }
  .material-symbols-outlined { font-size:20px; }
}
