
main {
 display: block;              
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 100px;
}


.back_img{
  position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.back_img img {
     display: block;
    width: 100%;
    max-width: 1850px; 
    margin: 0 auto;
    height: auto;
    filter: brightness(0.6);
}

.title{
    position: absolute;
    left: 140px;
    bottom: 180px;
    font-family: "Merriweather", serif;
    color: #fff;                           
    font-size: 100px; 
    z-index: 2;
}

.panel{
    width: calc(100% - 80px);
    max-width: 1500px;
    min-height: 100%;
    margin-top: -110px;    
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 12px;
    padding: 36px;
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
    z-index: 3;
    box-sizing: border-box;
}

.both{
      display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 0;
}

.panel-inner {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  padding: 50px;
}


.panel-item {
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
  box-shadow: 0 0 10px rgb(192, 192, 192);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .35s ease;
}


.panel-item img {
  object-fit: cover;
  display: block;
  transition: transform .35s ease;
}

.panel-item:hover img {
  transform: scale(1.03);
}
.panel-item:hover {
  transform: scale(1.03);
}

.shoes{
    width: 500px;
}
.pants{
    width: 320px;
}

.top{
    width: 350px;
}
.belt{
    width: 400px;
}

.console{
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

